<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body style="background-image : url('https://kinsta.com/wp-content/uploads/2020/04/wordpress-events-plugin-1.jpg')">
    &nbsp;
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li>@Html.ActionLink("Login", "Login", "Login", null, new { @class = "btn btn-primary" })</li>
            <li>@Html.ActionLink("Register", "Register", "Login", null, new { @class = "btn btn-primary" })</li>

        </ul>
        
        <h1 style="margin-left: 268px; font-family: 'Sofia'; font-size: 35px;"><b>EVENT MANAGEMENT SYSTEM</b></h1>
    </div>
    
    &nbsp;
   
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <h2>CONTACT</h2>
                <div class="col-md-4">
                    <h3>ADMIN</h3><br />
                    <h4>SIVA</h4><br />
                    <h5>marthasivakumar@gmail.com</h5>
                </div>
                <div class="col-md-4">
                    <h3>DESIGNER</h3><br />
                    <h4>ASHISH</h4><br />
                    <h5>ashish@gmail.com</h5>
                </div>
                <div class="col-md-4">
                    <h3>Maintenance</h3><br />
                    <h4>RAJUL</h4><br />
                    <h5>rajull@gmail.com</h5>
                </div>
            </div>
        </div>
    </div>







</body>
</html>



